@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
html,
body,
* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f5d04e;
  align-items: center;
  gap: 30px;
  font-family: "Figtree", sans-serif;
}

.container {
  background-color: #ffffff;
  height: 90vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 10px 10px 0 0 #000000;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  padding: 20px 0;
  margin: 0 20px;
}

.bottom * {
  margin: 0;
}

/* margin: 0 auto; Centers an element. */

img {
  height: 220px;
  border-radius: 10px;
}

.avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-weight: bold;
}

.avatar img {
  height: 30px;
}

.learning {
  font-weight: bolder;
  background-color: #f8cf52;
  width: 60px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

h1 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
